.sign-form__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}
